{{ partial "header.html" . }}
<div class="row-fluid">
        <div class="span12 well well-small" style="text-align: center;">
            <img src="images/shop_logo.png"/>
            <a class="btn btn-primary btn-large" href="http://www.lectionis-buchhandel.de/">Direkt zum Shop</a>
        </div>
</div>

<div class="row-fluid">
{{ range where .Pages "Section" "books" }}
<div class ="span4 item" >
    <div class="row-fluid">
        <div class="span12" style="line-height: 75px;">
                       
                            <h4>{{ .Title }}</h4>
                      
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                    <a href="{{ .Permalink}}" class="thumbnail">
                            {{if isset .Params "image" }}
                        <img src="{{ .Params.image }}">
                        {{end}}
                    </a>
                </div></div>
                <div class="row-fluid" >
                <div class="span12">
                        <p>{{ .Summary }}</p>
                    </div>
                </div><div class="row-fluid">
                    <div class="span12 ">
                            {{if isset .Params "isbn" }}
                            <p>
                                ISBN: {{ .Params.isbn }}
                            </p>
                            {{end}}
                            {{if isset .Params "price" }}
                            <p>
                                Preis: {{ .Params.price }} €
                            </p>
                            {{end}}
                            <p><a class="btn btn-small" href="{{ .Permalink }}">mehr Information</a></p>
                            {{if isset .Params "shopLink" }}
                            <p>
                                <a class="btn btn-small btn-primary" href="{{ .Params.shopLink }}">Im Shop kaufen</a>
                            </p>
                            {{end}}
                    </div>
                </div>

</div>

{{end}}
</div>

    {{ partial "footer.html" . }}

